<h1>New User Signup</h1>

<%= form_for @user do |f|%>
  <%=f.label :username%>
  <%=f.text_field :username%>
  <br>
  <%=f.label :password%>
  <%=f.password_field :password%>
  <br>
  <%=f.submit%>
<%end%>

<%= link_to "Back To Home", root_path %>
<div class="test">
  <%= button_to "Test Button", root_path %>
</div>
