<!DOCTYPE html>
<html>
 <head>
   <title>NBA1K19</title>
   <%= csrf_meta_tags %>
   <%= csp_meta_tag %>

   <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
   <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


 </head>

 <body>

 <header>
   <div class="logo">
     <%= image_tag("1k.jpg", {:id => "hide"}) %>
     <p class="head">NBA 1K19</p>
     <%= image_tag("1k.jpg") %>
  </div>

 <nav>
   <div>
     <ul>
       <li><a class="active" href="/">Home</a></li>
       <li><a href="/home_teams">My Teams</a></li>
       <li><a href="#contact">Contact</a></li>
       <li><a href="#about">About</a></li>
     </ul>
    </div>

 </nav>
 </header>


   <%= yield %>
  <footer>
    <div>
    <%if @logged_in%>
      Hello, <%= @logged_in_user.username.titleize%>, you're logged in! (<%=link_to "Logout", logout_path, method: :post%>)
    <% else %>
      Please <%= link_to "Login", login_path %> or <%= link_to "Sign Up", new_user_path %>
    <%end%>
    </div>
    <div>
      &copy;Developed by B-Cryp Inc.
    </div>
  </footer>

 </body>
</html>
